<div class="bgImg">
<div id="main">
  <br>
  <div class="card text-center">
    <div class="row bgImg">
      <div class="col-md-3 mx-max my-4" *ngFor="let job of jobs|jobFilter2:skillSearch:locationSearch:companySearch">
        <div class="card bg-light-gray mb-2">
          <div class="card-header"><a [routerLink]="['/job-details/'+job._id]">{{job.jobTitle}}</a></div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Company:</strong>{{job.companyName}}</li>
            <li class="list-group-item"><strong>Salary:</strong>{{job.salaryPackage|currency:'INR':true:'2.0'}}/Annum</li>
            <li class="list-group-item"><strong>Location:</strong>{{job.location}}</li>
            <li class="list-group-item"><strong>Posted Date:</strong>{{job.jobPostedDate|date:'mediumDate'}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
