<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/"><img id="logo" src='../assets/cjlogo.png'></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <div class="my-2 my-lg-0">
        <ul class="navbar-nav text-light mr-auto">
          <li class="nav-item text-light">
            <a class="nav-link text-light" routerLink="/all-jobs"><i class="fi-xtluxl-funnel"></i>Filter Jobs</a>
          </li>
          <li class="nav-item active" *ngIf="isUserLoggedIn" >
            <a class="nav-link text-light" [routerLink]="['/user-profile/'+user._id]" *ngIf="user._id"><i class="fi-xnsuxl-user-tie-circle"></i>{{user.firstname}} {{user.lastname}}</a>
          </li>
          <li class="nav-item active" *ngIf="isUserLoggedIn" >
            <a class="nav-link" href="javascript:void(0);" (click)="userLogout()" ><i class="fi-xtluxl-sign-out-thin"></i>LogOut</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<router-outlet></router-outlet>
<footer class="page-footer font-small mdb-color darken-3">
  <div class="footer-copyright text-light bg-dark text-center py-3">© 2020 Copyright:
    <a href="#">CareerJunction.com</a>
  </div>
</footer>